@model UserDto

<form method="post">

    <div class="container border p-4">

        <div class="row text-center p-3">
            <h1>Update user</h1>
        </div>

        <div class="row text-center">
            <div class="row">

                <input asp-for="ID" class="form-control" hidden/>

                <div class="col-12 col-md-6 offset-3 pb-2">
                    <input asp-for="Email" class="form-control" placeholder="Email...." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-3 pb-2">
                    <input asp-for="FirstName" class="form-control" placeholder="FirstName...." />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-3 pb-2">
                    <input asp-for="LastName" class="form-control" placeholder="LastName...." />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-3 pb-2">
                    <input asp-for="PrivateNumber" class="form-control" placeholder="ID Number...." />
                    <span asp-validation-for="PrivateNumber" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-3 pb-2">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber...." />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-3 pb-2">
                    <button type="submit" class="btn btn-primary" value="Submit">Update User</button>
                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}